
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Pagina Principal</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="home.html">Palestra Sobre Psicologia</a>
            <div class="navbar-links">
                <a class="nav-link" href="home.html">Inicio</a>
                <a class="nav-link" href="cadastrar_evento.html">Doe Agora</a>
                <a class="nav-link" href="fazer_inscricao.html">Inscricoes</a>
                <a class="nav-link" href="Sobre.html">Sobre a pagina</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="banner-content">
                <h1>Palestra sobre inteligência emocional e ambiente mais saudável</h1>
                <p>Conheca os 4 Pilares da Inteligência Emocional</p>
            </div>
        </section>

        <section class="container-eventos">
            <h2>Eventos em destaques</h2>

            <div class="cards-grid">
               <article class="card">
                    <img class="img-evento" src="../img/palestrante.jpeg" alt="Workshop pratico de programacao web">
                    <div class="card-body">
                        <h3>Eduarda Barichello</h3>
                        <p>Formação: Graduada em Psicologia pela Atitus Educação.</p>
                        <p>Especialização: Pós-graduação ou MBA em Gestão de Pessoas, 
                            Psicologia Organizacional ou Neuropsicologia.</p>
                        <div class="card-actions">
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <img class="img-evento" src="../img/evento1.jpg" alt="Palestra de desenvolvimento web">
                    <div class="card-body">
                        <h3>Sobre a Palestra</h3>
                        <p>Convidamos você para uma palestra exclusiva com a psicóloga Eduarda. 
                            Vamos explorar estratégias práticas para lidar com o estresse, desenvolver 
                            inteligência emocional e cultivar um ambiente mais saudável.</p>
                        <div class="card-actions">
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <img class="img-evento" src="../img/cafe.jpg" alt="Workshop pratico de programacao web">
                    <div class="card-body">
                        <h3>Café com a Palestrante</h3>
                        <p>Selecionaremos 10 participantes para um momento exclusivo de networking e troca de ideias. 
                            Esta oportunidade é reservada para as 50 primeiras pessoas que realizarem a inscrição. 
                            Garanta sua vaga entre os primeiros e participe deste encontro unico.</p>
                        <div class="card-actions">
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>
                 <article class="card">
                    <img class="img-evento" src="../img/logoapae.png" alt="Workshop pratico de programacao web">
                    <div class="card-body">
                        <h3>Doação</h3>
                        <p>Mais do que um encontro de aprendizado, queremos transformar realidades. 
                            Durante o evento, estaremos arrecadando doações para a Apae e Yacamin. 
                            Sua contribuição, independentemente do valor, faz uma diferença real na vida de quem mais precisa. 
                            Vamos unir conhecimento e solidariedade?</p>
                        <div class="card-actions">
                            <a href="cadastrar_evento.html" class="btn btn-info">Doe Agora</a>
                            <a href="fazer_inscricao.html" class="btn btn-dark">Inscrever-se</a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <p>Palestra de Psicologia - 2026</p>
    </footer>
</body>
</html>
