<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Sobre o site</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="home.html">Palestra Sobre Psicologia</a>
            <div class="navbar-links">
                <a class="nav-link" href="home.html">Inicio</a>
                <a class="nav-link" href="cadastrar_evento.html">Doe Agora</a>
                <a class="nav-link" href="fazer_inscricao.html">Inscricoes</a>
                <a class="nav-link" href="Sobre.html">Sobre a pagina</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="banners">
            <div class="banner-contents">
                <h1>Teste</h1>
                <p>Frase 2</p>
            </div>
        </section>